<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="addJewelryBag()">ADD BAG</button>

  <br>
  <br>
  <input type="file" (change)="onFileSelected($event)">
  <button type="button" (click)="onUpload()">Upload</button>
  <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
  <div>
    <img [src]="downloadURL | async" alt="" class="src">
  </div>

</div>

<router-outlet></router-outlet>
