<main class="main-content__container">
  <div class="main-content__card">
    <img src="../../assets/photos/bracelet-placeholder.JPG">
  </div>
  <div class="main-content__card">
    <img src="../../assets/photos/brooch-placeholder.JPG">
  </div>
  <div class="main-content__card">
    <img src="../../assets/photos/earring-placeholder.JPG">
  </div>
  <div class="main-content__card">
    <img src="../../assets/photos/necklace-placeholder.JPG">
  </div>
  <div class="main-content__card">
    <img src="../../assets/photos/ring-placeholder.jpg">
  </div>
</main>
